.container{
    display: grid;
    grid-template-areas: 'left center right';
}

#projects{
    grid-area: left;
    
}

h1{
    left: 50%;
    text-align: center;
    color: red;
}

.todo-section{
    grid-area: center;
}

.todo-Counter{
    text-align: center;
}

.newTodos{
    display: flex ;
    justify-content:space-between;
    width: 30%;
}

.todoDelete{
    width: 25px;
    height: 25px;
    text-align:center;
}

.todoCard{
    border: 1px solid black;
}

.todoCard:hover{
    margin: 3px;
    border: 4px solid goldenrod;
    border-radius: 10px;
}